
::ng-deep .p-datepicker {
    width: 100% !important
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep .save-button {
    right: 40px !important;
    margin: auto !important;
    position: absolute !important;
    bottom: 34px !important;
}