
.FM_input-invalid{
    outline: 0.1em solid rgb(214, 15, 15) !important; /* Remove default focus outline */
    box-shadow: none !important;
}

label{
    color: #EADEDE;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing:0.06em;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border: none;
    background: #35A29F !important;
    box-shadow: 0 0 0 0.15rem #00dddd !important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.15rem #00dddd !important;
    border: none !important;
}

textarea:focus {
    border: none !important;
    outline: inherit !important;
}

.p-datepicker-day {
    font-size: 0.8rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: var(--p-datepicker-date-width);
    height: var(--p-datepicker-date-height);
    border-radius: var(--p-datepicker-date-border-radius);
    transition: background var(--p-datepicker-transition-duration), color var(--p-datepicker-transition-duration), border-color var(--p-datepicker-transition-duration), box-shadow var(--p-datepicker-transition-duration), outline-color var(--p-datepicker-transition-duration);
    border: 1px solid transparent;
    outline-color: transparent;
    color: var(--p-datepicker-date-color);
}

.p-datepicker-input{
    font-size: 0.8rem !important;
}