<div class="card w-full mx-2 p-2 rounded-2xl bg-white">
    <p-tabs value="0" class="w-full">
        <div class="flex flex-col">
            <label for="reportname">Specify Report Name</label>
            <input pInputText id="reportname" aria-describedby="report-name" [(ngModel)]="l_report_name" />
            <small id="report-name">Enter a unique report name to see in logs.</small>
        </div>
        <p-tablist class="flex w-full !justify-content-around">
            <p-tab value="0" class="!text-center !px-3 !py-2 !text-sm !font-mono !w-1/5 !flex ">Minutes</p-tab>
            <p-tab value="1" class="!text-center !px-3 !py-2 !text-sm !font-mono !w-1/5 !flex">Hours</p-tab>
            <p-tab value="2" class="!text-center !px-3 !py-2 !text-sm !font-mono !w-1/5 !flex">Days</p-tab>
            <p-tab value="3" class="!text-center !px-3 !py-2 !text-sm !font-mono !w-1/5 !flex">Months</p-tab>
            <p-tab value="4" class="!text-center !px-3 !py-2 !text-sm !font-mono !w-1/5 !flex   ">Year</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-cron-for-minutes (l_get_minutes_selected)="l_get_minutes = $event;  lFN_PrepareCronExpressoion();"></app-cron-for-minutes>
            </p-tabpanel>
            <p-tabpanel value="1">
               <app-cron-for-hours (l_get_hour_selected)="l_get_hours = $event;  lFN_PrepareCronExpressoion();"></app-cron-for-hours>
            </p-tabpanel>
            <p-tabpanel value="2">
               <app-cron-for-days (l_get_days_selected)="l_get_days = $event;  lFN_PrepareCronExpressoion();"></app-cron-for-days>
            </p-tabpanel>
            <p-tabpanel value="3">
               <app-cron-for-months (l_get_month_selected)="l_get_months =  $event;  lFN_PrepareCronExpressoion();"></app-cron-for-months>
            </p-tabpanel>
            <p-tabpanel value="4">
               <app-cron-for-year (l_get_year_selected)="l_get_years = $event;  lFN_PrepareCronExpressoion();"></app-cron-for-year>
            </p-tabpanel>
        </p-tabpanels>
        <p class="text-center !my-2 text-xl w-auto rounded-lg m-auto"
            style="font-family: 'Montserrat';"    
        >{{l_cron_description}}</p>
        <div class="flex flex-row-reverse">
            <button (click)="setCronExpression()" mat-button>Schedule</button>
        </div>
    </p-tabs>
</div>