<div class="w-full" >
    <div class="flex items-center mb-2">
        <p-checkBox binary="true" [(ngModel)]="l_hour_to_choose.EACH_HOUR" inputId="second_1" (ngModelChange)="lFN_ChooseHour('EACH_HOUR')" />
        <label for="second_1" class="ml-2 !text-sm !text-stone-900">Every Hour</label>
    </div>

    <div class="w-full">
        <div class="flex items-center mb-2">
            <p-checkBox binary="true" [(ngModel)]="l_hour_to_choose.HOURS_CHOOSE_FROM" inputId="second_3" (ngModelChange)="lFN_ChooseHour('HOURS_CHOOSE_FROM')"/>
            <label for="second_3" class="ml-2 !text-sm !text-stone-900">Specific Hour (Choose one or Many)</label>
        </div>
        <div *ngIf="l_hour_to_choose.HOURS_CHOOSE_FROM" class="w-full flex flex-wrap gap-4">
            <ng-container *ngFor="let l_second of l_hours; let i = index">
                <p-chip>
                    <p-checkbox [(ngModel)]="l_second.l_checked" binary="true" inputId="secondCheckbox{{ i }}" (ngModelChange)="lFN_ChooseHour('HOURS_CHOOSE_FROM')" class="text-sm small-checkbox"
                    ></p-checkbox>
                    <label [for]="'secondCheckbox' + i" class="text-xs !text-stone-900 !font-semibold pl-1">
                    {{ l_second.l_label_name }}
                    </label>
                </p-chip>
                </ng-container>
        </div>
    </div>
</div>