
/* styles.css or the component-specific CSS file */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-container .main-content {
    flex: 1;
    display: flex;
  }
  
  .app-container app-side-nav-bar {
    flex: 0 0 auto;
  }
  
  .app-container .main-content {
    display: flex;
    width: 100%;
    height: 100%;
  }

.sidenav_container{
  height: 93vh;
}

mat-sidenav{
  background-color: #0D1117;
  width: 75%;
  height: 100%;
}

app-pl-gadmin {
  width: 100%;
}
.main-content {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
}

.main-content :nth-child(2){
  flex: 1;
}

p-tab{
  justify-content: center !important;
}

::ng-deep .p-checkbox-box {
  margin-top: 2px;
  width: 15px !important;   /* Increase checkbox size */
  height: 15px !important;  /* Increase checkbox size */
}

::ng-deep .p-chip{
  background-color: #AFDDFF !important;
  padding: 4px 8px !important;
}


::ng-deep .p-checkbox-icon{
  padding: 2px !important;
}

::ng-deep .p-chip{
  gap: 0px !important;
}

::ng-deep .p-button{
  background: black !important;
  padding: 4px 6px !important;
  font-family: 'Montserrat' !important;
  font-size: 0.8rem !important;
}