<div class="flex h-screen">
    <!-- Side Menu -->
    <div class="w-64 bg-gray-800 text-white flex flex-col" style="background-color: #2e343c; color: #979eff !important;">
        <div class="p-4 text-lg font-bold border-b border-gray-700" style="  font-family: 'Montserrat', sans-serif !important;"> <a routerLink="/dashboard"><mat-icon style="margin-right: 10px;padding-top: 4px;">home</mat-icon></a> Clinical Module</div>
        <nav class="flex-1 p-4">
            <ul>
                <li class="mb-2" style="font-family: 'Nunito', sans-serif !important;">
                    <a routerLink="/clinical/patientList" routerLinkActive="font-semi-bold text-white" class="block p-2 rounded hover:bg-gray-700 font-montserrat">Patient List</a>
                </li>
                <li class="mb-2" style="font-family: 'Nunito', sans-serif !important;">
                    <a routerLink="/clinical/patient-investigation-history" routerLinkActive="font-semi-bold text-white" class="block p-2 rounded hover:bg-gray-700 font-montserrat">Investigation History</a>
                </li>
                <li class="mb-2" style="font-family: 'Nunito', sans-serif !important;">
                    <a routerLink="/clinical/generate-report" routerLinkActive="font-semi-bold text-white" class="block p-2 rounded hover:bg-gray-700 font-montserrat">Generate Report</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="flex-1 bg-gray-100 p-4" style="background-color: #e2edff !important;">
        <router-outlet></router-outlet>
    </div>
</div>