// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "app/common/scss/commonModules.scss";
@use "app/common/scss/tags_css.scss";
@use "app/common/scss/fontStyles.scss";


@import "app/common/scss/formModule.scss";


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #308b94; }



/* Customize icon color */
.pi-user {
  color: #00dddd !important; /* Customize the icon color */
}


.p-sidebar-left {
    width: 70% !important;
    top: 58px;
    height: calc(100% - 58px);
}


label:hover{
    cursor: pointer;
}

.cdk-overlay-container{
  z-index: 1550 !important;
}

.cdk-overlay-connected-position-bounding-box{
  top: 60px !important;
  left: 87% !important;
}

app-user-activity{
  width: 100%;
}

.component-container{
  display: flex;
  flex: 1;
}


/* In styles.scss */
@font-face {
    font-family: 'Source Sans 3';
    src: url('/assets/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

:root {
  --p-primary-color: skyblue; /* Example: Green */
  --p-primary-color-text: #black; /* Example: White text */
  --p-highlight-bg: #skyblue; /* Highlight background (optional) */
  --p-button-primary-background :  skyblue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
