.custom-label{
    border-radius: 30px !important;
    padding: 2px 8px !important;
}

.p-inputnumber-input{
    font-size: 0.8rem !important; 
    font-family: Montserrat !important; 
    padding: 0.5rem 0.5rem !important; 
}