<div class="px-2">
    <p-floatLabel *ngIf="_fieldType === 'TEXT'" variant="on">
      <input
        pInputText
        id="on_label"
        [ngClass]="{ 'ng-invalid ng-dirty': _isFieldInvalid }"
        [style.width]="_width"
        class="h-full mont-300 custom-field-text"
        [formControl]="_textValueControl"
        autocomplete="off"
      />
      <label for="on_label" class="nunito-300 custom-label">
        {{ _fieldLabel }}
        <span *ngIf="_isRequired" class="text-red-500">*</span>
      </label>
    </p-floatLabel>
  
    <p-floatLabel *ngIf="_fieldType === 'NUMBER'" variant="on">
      <p-inputnumber
        [formControl]="_numValueControl"
        [ngClass]="{ 'ng-invalid ng-dirty': _isFieldInvalid }"
        inputId="minmaxfraction"
        mode="decimal"
        [minFractionDigits]="_minFractionDigit"
        [maxFractionDigits]="_maxFractionDigit"
      ></p-inputnumber>
      <label for="on_label" class="nunito-300 custom-label">
        {{ _fieldLabel }}
        <span *ngIf="_isRequired" class="text-red-500">*</span>
      </label>
    </p-floatLabel>
  
    <p-floatLabel style="width:210px" *ngIf="_fieldType === 'EMAIL'" variant="on">
      <input
        pInputText
        id="on_label"
        [ngClass]="{ 'ng-invalid ng-dirty': _isFieldInvalid }"
        class="mont-400 custom-field-text w-full"
        [formControl]="_textValueControl"
        autocomplete="off"
      />
      <label for="on_label" class="nunito-300 custom-label">
        {{ _fieldLabel }}
        <span *ngIf="_isRequired" class="text-red-500">*</span>
      </label>
    </p-floatLabel>
  
    <p *ngIf="_isFieldInvalid" class="text-red-500 text-xs nunito-200 pl-1">
      {{ _localError }}
    </p>
  </div>
  